# Estatisticas times de Cs go

In [23]:
import pandas as pd

Time1="MIBR"
Time2="Liquid"

TIME1=pd.DataFrame({"Mapas":["Dust2","Vertigo","Train","Inferno","Mirage","Nuke"],"Vitorias":[50,44.4,33.3,33.3,28.6,22.2]})

TIME2=pd.DataFrame({"Mapas":["Dust2","Vertigo","Train","Inferno","Mirage","Nuke"],"Vitorias":[53.1,72.5,47.7,48.5,45.9,53.5]})


    
Vitorias_time1=pd.DataFrame({"Mapas":["Dust2","Vertigo","Train","Inferno","Mirage","Nuke"],"Vitorias":((TIME1["Vitorias"] + (100-TIME2["Vitorias"]))/2)})
Vitorias_time1

     Mapas  Vitorias
0    Dust2     48.45
1  Vertigo     35.95
2    Train     42.80
3  Inferno     42.40
4   Mirage     41.35
5     Nuke     34.35

# Para MD3

In [24]:
Mapa1=input("Digite o primeiro mapa: ")
Mapa2=input("Digite o primeiro mapa: ")
Mapa3=input("Digite o primeiro mapa: ")

Digite o primeiro mapa: Nuke
Digite o primeiro mapa: Dust2
Digite o primeiro mapa: Mirage

In [34]:
V1=Vitorias_time1.loc[(Vitorias_time1["Mapas"]==Mapa1)].iloc[0,1]/100
V2=Vitorias_time1.loc[(Vitorias_time1["Mapas"]==Mapa2)].iloc[0,1]/100
V3=Vitorias_time1.loc[(Vitorias_time1["Mapas"]==Mapa3)].iloc[0,1]/100

P_V_Time1=((V1*V2) + (V1*V3*(1-V2))+(V2*V3*(1-V1)))*100

print("A probabilidade de "+ Time1 + " vencer é  " ,P_V_Time1  )
print("A probabilidade de "+ Time2 + " vencer é  " ,100-P_V_Time1 )

A probabilidade de MIBR vencer é   37.11696547500001
A probabilidade de Liquid vencer é   62.88303452499999

In [22]:
Time1

'MIBR'