# Estatisticas times de Cs go

In [1]:
import pandas as pd

TIME1=pd.DataFrame({"Mapas":["Dust2","Vertigo","Train","Inferno","Mirage","Nuke"],"Vitorias":[50,44.4,33.3,33.3,28.6,22.2]})

TIME2=pd.DataFrame({"Mapas":["Dust2","Vertigo","Train","Inferno","Mirage","Nuke"],"Vitorias":[53.1,72.5,47.7,48.5,45.9,53.5]})


    
Vitorias_time1=pd.DataFrame({"Mapas":["Dust2","Vertigo","Train","Inferno","Mirage","Nuke"],"Vitorias":((TIME1["Vitorias"] + (100-TIME2["Vitorias"]))/2)})
Vitorias_time1

     Mapas  Vitorias
0    Dust2     48.45
1  Vertigo     35.95
2    Train     42.80
3  Inferno     42.40
4   Mirage     41.35
5     Nuke     34.35

# Para MD3

In [6]:
Mapa1=input("Digite o primeiro mapa: ")
Mapa2=input("Digite o primeiro mapa: ")
Mapa3=input("Digite o primeiro mapa: ")

V1=Vitorias_time1.loc[(Vitorias_time1["Mapas"]==Mapa1)].iloc[0,1]
V2=Vitorias_time1.loc[(Vitorias_time1["Mapas"]==Mapa2)].iloc[0,1]
V3=Vitorias_time1.loc[(Vitorias_time1["Mapas"]==Mapa3)].iloc[0,1]

P_V_Time1=V1*V2 + V1*V3

Digite o primeiro mapaMirage
Digite o primeiro mapaDust2
Digite o primeiro mapaNuke

4    41.35
Name: Vitorias, dtype: float64

34.35